<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
<body id='login-background'>
	<div id='top-bar'>
		<div id='top-logo'></div>
		<div id='login-box'>
			<%= form_tag '/login' do %>
				<div id='username'><%= text_field_tag :username, :attr, :placeholder => "Username" %></div>  
				<div id='password'><%= password_field_tag :password, :attr, :placeholder => "Password"%></div>
				<div id='submit-login'> <%= submit_tag "Login", :class => "login-button"  %></div>
			<% end %>
		</div>

		<div id='slogan'></div>
<<<<<<< HEAD

		<div id='signup-box'>
			<% if current_user %>
				Signed in as <%= current_user.username %> | <%= link_to 'Logout', '/logout', method: :delete %>
			<% else %>
				<div id='signup-button'><%= link_to 'Sign Up', '/signup', :class=> "signupp" %></div>	
			<% end %>
		</div>
	</div>
</body>
=======

		<div id='signup-box'>
			<% if current_user %>
				Signed in as <%= current_user.username %> | <%= link_to 'Logout', '/logout', method: :delete %>
			<% else %>
				<div id='signup-button'><%= link_to 'Sign Up', '/signup', :class=> "signupp" %></div>	
			<% end %>
		</div>
	</div>
</body>
=======
<!-- PAGE SPECIFIC STYLING -->
<style type="text/css">
  input { 
  width: 206px;
}
</style>

<div id='login-background'>

	<div id='login-form'>
		<%= form_tag '/login' do %>
			<div id='username'><%= text_field_tag :username %></div>  
			<div id='password'><%= password_field_tag :password %></div>
			<div id='submit-login'> <%= submit_tag "Login" %></div>
		<% end %>
	</div>

	<div id='signup'>
		<% if current_user %>
			Signed in as <%= current_user.username %> | <%= link_to 'Logout', '/logout', method: :delete %>
		<% else %>
			<div id='actual_signup'><%= link_to 'Sign Up', '/signup', :class=> "signupp" %></div>	
		<% end %>
	</div>

</div>
>>>>>>> f33add8fb50c841b60ff7aa06f4f83e6a869d6ee
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
