<body id='login-background'>
	<div id='top-bar'>
		<div id='top-logo'></div>
		<div id='login-box'>
			<%= form_tag '/login' do %>
				<div id='username'><%= text_field_tag :username, "Username" %></div>  
				<div id='password'><%= password_field_tag :password, "Password"%></div>
				<div id='submit-login'> <%= submit_tag "Login", :class => "login-button"  %></div>
			<% end %>
		</div>

		<div id='slogan'></div>

		<div id='signup-box'>
			<% if current_user %>
				Signed in as <%= current_user.username %> | <%= link_to 'Logout', '/logout', method: :delete %>
			<% else %>
				<div id='signup-button'><%= link_to 'Sign Up', '/signup', :class=> "signupp" %></div>	
			<% end %>
		</div>
	</div>
</body>