<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
<body id='sign-up-background'>
<!-- DIVS ON DIVS ON DIVS ON DIVS MUHFUCKAAAA -->
  <div id='top-bar'>
    <div id='top-logo'></div>
    <div id='login-box'>
      <%= form_tag '/login' do %>
        <div id='username'><%= text_field_tag :username, :attr, :placeholder => "Username" %></div>  
        <div id='password'><%= password_field_tag :password, :attr, :placeholder => "Password"%></div>
        <div id='submit-login'> <%= submit_tag "Login", :class => "login-button"  %></div>
      <% end %>
    </div>

  <div>
      <div class="sign-up-form">
        <%= form_for @user do |f| %>
        Create your account <br><br>
        <div id='entry-field'><%= f.text_field :first_name, :placeholder => "First name", :class=>'entry-field-class'%></div><br>

        <div id='entry-field' ><%= f.text_field :last_name, :placeholder=>'Last Name', :class=>'entry-field-class'%></div><br>

        <div id='entry-field' ><%= f.text_field :graduation_year, :placeholder=>'Graduation Year', :class=>'entry-field-class'%></div><br>

        <div id='entry-field' ><%= f.text_field :username, :placeholder=>'Username', :class=>'entry-field-class'%></div><br>

        <div id='entry-field' ><%= f.password_field :password, :placeholder=>'Password', :class=>'entry-field-class' %></div><br>

        <div id='entry-field' ><%= f.password_field :password_confirmation, :placeholder=>'Password', :class=>'entry-field-class' %></div>
        <br>
        <div id='entry-field-submit'><%= f.submit "Submit", :class =>"signup-button" %></div>  <br>
        <% end %>
      </div>
  </div>
</body>
<<<<<<< HEAD
=======
=======
<!-- PAGE SPECIFIC STYLING -->
<style type="text/css">
  input { 
  width: 250px;
  height: 20px;
  margin-left: 41%;
  font-style: italic;
  text-align: center;
  font-size: 13px;
}
</style>

<div id='sign-up-background'>
  <div>
      <div class="sign-up-form">
        <%= form_for @user do |f| %>

        <div id='entry-field'><%= f.text_field :first_name, :placeholder => "First name"%></div><br>

        <div id='entry-field' ><%= f.text_field :last_name, :placeholder=>'Last Name'%></div><br>

        <div id='entry-field' ><%= f.text_field :graduation_year, :placeholder=>'Graduation Year'%></div><br>

        <div id='entry-field' ><%= f.text_field :username, :placeholder=>'Username'%></div><br>

        <div id='entry-field' ><%= f.password_field :password, :placeholder=>'Password' %></div><br>

        <div id='entry-field' ><%= f.password_field :password_confirmation, :placeholder=>'Password' %></div>
        <br>
        <div><%= f.submit "Submit"%></div>  <br>
        <% end %>
      </div>
  </div>
</div>

>>>>>>> f33add8fb50c841b60ff7aa06f4f83e6a869d6ee
>>>>>>> 5ecf2dce93e23b79e645bd44506f74e2169fc82e
