<!-- users view folder will provide functionality to sign up for classiCAL -->

<div class="form">
<h1>Haven't joined ClassiCAL yet? Sign up here!</h1>
  <%= form_for (@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :first_name%><br>
  <%= f.text_field :first_name%><br>

  <%= f.label :last_name%><br>
  <%= f.text_field :last_name%><br>

  <%= f.label :graduation_year%><br>
  <%= f.text_field :graduation_year%><br>

  <%= f.label :username%><br>
  <%= f.text_field :username%><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <!-- what to call here to get major and minor? -->

  <%= f.label 'confirm your password' %><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Submit"%><br>
  
  <% end %>
</div>


<!-- add a field to add major with drop down of all departments plus one for 'undecided' -->
