<!-- PAGE SPECIFIC STYLING -->
<style type="text/css">
  input { 
  width: 250px;
  height: 20px;
  margin-left: 41%;
  font-style: italic;
  text-align: center;
  font-size: 13px;
}
</style>

<div id='sign-up-background'>
  <div>
      <div class="sign-up-form">
        <%= form_for @user do |f| %>

        <div id='entry-field'><%= f.text_field :first_name, :placeholder => "First name"%></div><br>

        <div id='entry-field' ><%= f.text_field :last_name, :placeholder=>'Last Name'%></div><br>

        <div id='entry-field' ><%= f.text_field :graduation_year, :placeholder=>'Graduation Year'%></div><br>

        <div id='entry-field' ><%= f.text_field :username, :placeholder=>'Username'%></div><br>

        <div id='entry-field' ><%= f.password_field :password, :placeholder=>'Password' %></div><br>

        <div id='entry-field' ><%= f.password_field :password_confirmation, :placeholder=>'Password' %></div>
        <br>
        <div><%= f.submit "Submit"%></div>  <br>
        <% end %>
      </div>
  </div>
</div>

