<!DOCTYPE html>
<html>
<head>
  <title>ClassCAL</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD

</head>
<!-- BODY TAG IN ERB FILES -->
	<%= yield %>

=======
</head>

<body>

	<%= yield %>
	
</body>
>>>>>>> f33add8fb50c841b60ff7aa06f4f83e6a869d6ee
</html>